body {
  background-color: #303030;
}

.skill-img {
  width: 50px;
  height: 50px;
  background-color: #378264;
  border-radius: 25%;
}

.bg-custom {
  background-color: #e84b39;
}

#weapon-img {
  height: 200px;
}

.navbar-nav .active {
  color: #000 !important;
}

.navbar-nav a {
  color: #fff;
}
